body {
 background-image: url("https://c.tenor.com/iQUf_YXMOlUAAAAC/gojo-satoru-hollow-purple.gif"); 
 color: white;
 font-weight: bold;
}

h1 {
 color: white;
 font-family: "Copperplate", fantasy;
}

h3 {
 color: white;
}
